<!-- <input
  type="text"
  class="row form-control"
  (input)="onUpdateServerName($event)"
/> -->
<input type="text" class="row form-control" [(ngModel)]="serverName" />

<p class="row mb-3">
  {{ serverName }}
</p>

<div class="row mb-3">
  <button
    class="btn btn-primary col-sm-4"
    [disabled]="!allowNewServer"
    (click)="onAddServer()"
  >
    Add Server
  </button>

  <p class="col-sm-8" *ngIf="serverCreated">
    Server was created! Server name is {{ serverName }}.
  </p>
</div>

<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
