<!-- <input
  type="text"
  class="row form-control"
  (input)="onUpdateServerName($event)"
/> -->
<input type="text" class="row form-control" [(ngModel)]="serverName" />

<p class="row mb-3">
  {{ serverName }}
</p>

<div class="row mb-3">
  <button
    class="btn btn-primary col-sm-4"
    [disabled]="!allowNewServer"
    (click)="onAddServer()"
  >
    Add Server
  </button>

  <p *ngIf="serverCreated; else noServer">
    Server was created! Server name is {{ serverName }}.
  </p>
  <ng-template #noServer>
    No new server yet.
  </ng-template>
</div>


<app-server *ngFor="let x of servers"></app-server>
